.maps-modal .modal-body {
  padding: 0 0 0 0;
}
.maps-modal .modal-body p {
  padding: 10px 20px 0px;
}
.maps-modal .modal-body .map-container {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.maps-modal .modal-body .map-container #map-canvas {
  height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.maps-modal .modal-body .map-container #map-canvas .btn-select {
  background-color: #3d99d4;
  border: 2px solid #58b8e8;
  color: #fff;
}
.maps-modal .modal-body .map-container .map-search {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
}
.maps-modal .modal-body .map-container .map-search .form-control {
  height: 60px;
  padding: 0 10px 0 58px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
  /* border: 1px solid #e8e7e5; */
  background-image: url('../images/generic/magnifying-glass.svg');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 20px 15px;
  -webkit-box-shadow: 0 4px 10px -2px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0 4px 10px -2px rgba(50, 50, 50, 0.5);
  box-shadow: 0 4px 10px -2px rgba(50, 50, 50, 0.5);
}
.maps-modal .modal-body .map-container .map-search .form-control.search-error {
  -webkit-box-shadow: 0 0 5px 1px #FF000;
  box-shadow: 0 0 5px 1px #FF0000;
  outline: 1px solid #FF0000;
  outline-offset: -1px;
}
.maps-modal .modal-body div.location-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.maps-modal .modal-body div.location-list ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  line-height: 40px;
  padding-left: 20px;
}
.maps-modal .modal-body div.location-list ul li.location-1 {
  background-color: #fff;
}
.maps-modal .modal-body div.location-list ul li.location-2 {
  background-color: #66C2EC;
  color: #fff;
}
.maps-modal .modal-body div.location-list ul li.location-3 {
  background-color: #3FA4DA;
  color: #fff;
}
.maps-modal .btn-continue {
  margin: 20px 10px 20px 0;
}
