<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <!-- The compiled brand css file below loads bootstrap as well -->
    <link rel="stylesheet" href="css/brand/harley.css" />
</head>

<body>
    <div class="flow-app" ng-app="dlScan">
        <header class="navbar-fixed-top inprogress">
            <div class="container">
                <button type="button" class="btn btn-primary btn-exit" ng-click="exit()">Exit</button>
            </div>
        </header>
        <div class="container">
            <form name="viewForm" autocorrect="off" autocapitalize="off" autocomplete="off" novalidate>
                <!-- START SECTION -->
                <!-- BEGIN ABOUT YOU VIEW, MAP MODAL INCLUDED -->
                <section id="view-about-you" ng-controller="StartController">
                    <div ng-switch="steps.active">
                        <section ng-switch-when="1" class="field-container">
                            <h2>Start your lease application</h2>
                            <div class="row row1 show-row-next">
                                <div class="col-xs-6 form-group">
                                    <label>Name:</label>
                                    <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern field-invalid-first" type="text" placeholder="FIRST" name="firstname" ng-model="applicant.FirstName" ng-pattern="consts.letters" maxlength="15" data-error-msg="This field can only contain letters, apostrophes, hyphens and spaces." required="required" am-word-capitalize="name"><span></span><span>This field cannot be empty.</span>
                                </div>
                                <div class="col-xs-6 form-group">
                                    <input class="form-control field-no-label ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" type="text" placeholder="LAST" name="lastname" ng-model="applicant.LastName" ng-pattern="consts.letters" data-error-message="This field can only contain letters, apostrophes, hyphens and spaces." maxlength="20" required="required" am-word-capitalize="name"><span></span><span>This field cannot be empty.</span>
                                </div>
                            </div>
                            <div class="row row2 show-row-next">
                                <div class="col-xs-12 form-group">
                                    <label>Birthday:</label>
                                    <input class="form-control ng-pristine has-datepicker ng-invalid ng-invalid-required ng-valid-pattern ng-valid-date ng-valid-age" type="text" name="birthday" ng-model="applicant.DateOfBirth" placeholder="MM/DD/YYYY" maxlength="10" required="required" ng-pattern="consts.dates" ui-validate="{age:'validation.validateAge($value)',date:'validation.validateDate($value)'}" data-label-msg="date, MM/DD/YYYY" data-msg-age="You must be 18 years or older to apply." am-formatter="date" am-datepicker=""><span></span><span>This field cannot be empty.</span>
                                    <span class="calendar-icon"></span></div>
                            </div>
                            <div class="row row3 show-row-next">
                                <div class="col-xs-12 form-group">
                                    <label>Social Security number:</label>
                                    <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-ssn" type="text" name="ssn" ng-model="applicant.SSN" required="required" placeholder="123-45-6789" data-error-msg="This field should contain 9 digits." ui-validate="{ssn: 'validation.validateSSN($value)'}" am-input-mask="ssn" maxlength="11" ng-pattern="/^[0-9\*]{3}[- ]?[0-9\*]{2}[- ]?[0-9\*]{4}$/" am-enforce-ssn=""><span></span><span>This field cannot be empty.</span>
                                </div>
                            </div>
                        </section>
                        <section ng-switch-when="2" class="field-container">
                            <h2>About you</h2>
                            <p></p>
                            <div class="row row1 show-row-next">
                                <div class="col-xs-12 form-group">
                                    <label>Email:</label>
                                    <input class="form-control" name="email" type="text" id="email" placeholder="EXAMPLE@EXAMPLE.COM" ng-model="applicant.Email" ng-pattern="/^[a-zA-Z0-9._]+@[a-zA-Z0-9]+\.[a-zA-Z.]{2,5}$/" data-label-msg="email address. example@example.com" maxlength="60" required="required" />
                                </div>
                            </div>
                            <div class="row row2 show-row-next">
                                <div class="col-xs-5 col-sm-4 col-md-3 form-group">
                                    <label>Primary phone:</label>
                                    <select class="form-control" name="phone-select-primary" id="phone-select-primary" ng-model="primaryphone" required="" data-label-msg="phone number">
                                        <option value="">Select</option>
                                        <option value="Mobile">Mobile</option>
                                        <option value="Home">Home</option>
                                    </select>
                                </div>
                                <div class="col-xs-7 col-sm-8 col-md-9 form-group">
                                    <input class="form-control field-no-label" name="primaryPhone" type="text" ng-model="phones.primary" required="required" ng-pattern="/^\([0-9]{3}\) [0-9]{3}-[0-9]{4}$/" data-error-msg="This field should contain 10 digits." data-label-msg="phone number" am-formatter="phone" />
                                </div>
                            </div>
                            <div class="row row3 show-row-next">
                                <div class="col-xs-5 col-sm-4 col-md-3 form-group">
                                    <label>Additional phone:</label>
                                    <select class="form-control" name="phone-select-additional" id="phone-select-additional" ng-model="optionalphone" ng-required="phones.optional">
                                        <option value="">Select</option>
                                        <option value="Mobile">Mobile</option>
                                        <option value="Home">Home</option>
                                        <option value="Work">Work</option>
                                    </select>
                                </div>
                                <div class="col-xs-7 col-sm-8 col-md-9 form-group">
                                    <input class="form-control field-no-label" name="optionalPhone" type="text" placeholder="(OPTIONAL)" ng-model="phones.optional" ng-pattern="/^\([0-9]{3}\) [0-9]{3}-[0-9]{4}$/" data-error-msg="This field should contain 10 digits." data-label-msg="phone number" am-formatter="phone" />
                                </div>
                            </div>
                        </section>
                        <section ng-switch-when="3" class="field-container">
                            <h2>About you</h2>
                            <p></p>
                            <div class="row row1 show-row-next">
                                <div class="col-xs-12 form-group">
                                    <label>Street address</label>
                                    <input type="text" class="form-control" ng-model="applicant.Address.Line1" name="address1" maxlength="25" ng-maxlength="25" required="required" placeholder="LINE ONE" data-error-msg="This field can only contain letters, numbers, spaces and certain characters." data-label-msg="street address" />
                                </div>
                            </div>
                            <div class="row row2 show-row-next">
                                <div class="col-xs-12 form-group">
                                    <input type="text" class="form-control" ng-model="applicant.Address.Line2" name="address2" ng-maxlength="25" placeholder="LINE TWO (OPTIONAL)" data-error-msg="This field can only contain letters, numbers, spaces and certain characters." data-label-msg="street address" />
                                </div>
                            </div>
                            <div class="row row3 show-row-next">
                                <div class="col-xs-12 col-sm-7 form-group">
                                    <input type="text" class="form-control" ng-model="applicant.Address.City" name="city" maxlength="15" ng-maxlength="15" required="required" placeholder="CITY" data-error-msg="This field can only contain letters, numbers, spaces and certain characters." data-label-msg="city" />
                                </div>
                                <div class="col-xs-6 col-sm-3 form-group">
                                    <select class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="applicant.Address.State" name="state" required="required" data-label-msg="state">
                                        <option value="" class=""> STATE </option>
                                        <option value="AL">Alabama</option>
                                        <option value="AK">Alaska</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District Of Columbia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-2 form-group">
                                    <input type="text" class="form-control" ng-model="applicant.Address.Zip" am-digits-only name="zip" maxlength="5" required="required" placeholder="ZIP" ng-pattern="/[0-9]{5}/" ui-validate="{ zipMatchesState: 'validation.validateZipForState($value, applicant.Address.State)' }" ui-validate-watch="'applicant.Address.State'" data-label-msg="zip code" data-msg-zip="Zip code must match the state." />
                                </div>
                            </div>
                            <div class="row row4 show-row-next">
                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label>Time at current residence:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control txt-years" placeholder="" am-digits-only ng-model="applicant.Address.Residence.YearsAtAddress" name="yearsInHome" maxlength="2" ng-pattern="/^[0-9]{1,3}$/" ng-required="!applicant.Address.Residence.MonthsAtAddress" data-msg-pattern="number" />
                                        <div class="input-group-addon years">YEARS</div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-group ">
                                    <div class="input-group">
                                        <input type="text" placeholder="" class="form-control field-no-label txt-months" am-digits-only ng-model="applicant.Address.Residence.MonthsAtAddress" name="monthsInHome" id="monthsInHome" min="0" max="11" maxlength="2" ng-pattern="/^[0-9]{1,2}$/" ng-required="!applicant.Address.Residence.YearsAtAddress" data-msg-pattern="number" />
                                        <div class="input-group-addon months">MONTHS</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Rent or Own -->
                        <section ng-switch-when="4" class="field-container">
                            <h2>About you</h2>
                            <p></p>
                            <div class="row row1 show-row-next">
                                <div class="col-xs-6 form-group">
                                    <label>Do you rent or own?</label>
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="moveNext();">Rent</button>
                                </div>
                                <div class="col-xs-6 form-group">
                                    <button type="button" class="btn btn-primary btn-lg btn-block field-no-label" ng-click="moveNext();">Own</button>
                                </div>
                            </div>
                        </section>
                        <!-- TYPE of ID -->
                        <section ng-switch-when="5" class="field-container ng-scope">
                            <h2>About you</h2>
                            <p></p>
                            <div class="row row1 show-row-next">
                                <div ng-class="{disableAnimation: disableAnimation}">
                                    <div ng-class="{'col-xs-12 col-sm-4': applicant.Identification.IdentificationType !== 'Passport' &amp;&amp; applicant.Identification.IdentificationType !== 'MilitaryID' &amp;&amp; applicant.Identification.IdentificationType !== 'ResidentAlienCard', 'col-xs-12 col-sm-6': applicant.Identification.IdentificationType === 'Passport' || applicant.Identification.IdentificationType === 'MilitaryID' || applicant.Identification.IdentificationType === 'ResidentAlienCard'}" class="form-group animatePush col-xs-12 col-sm-4 show-errors" ng-model="applicant.Identification.IdentificationType">
                                        <label>Type of photo ID:</label>
                                        <select class="form-control ng-pristine ng-invalid ng-invalid-required" name="idType" ng-model="applicant.Identification.IdentificationType" required="required">
                                            <option value="" class=""> SELECT</option>
                                            <option value="DriversLicense" label="Drivers License">Drivers License</option>
                                            <option value="MilitaryID" label="Military ID">Military ID</option>
                                            <option value="Passport" label="US Passport">US Passport</option>
                                            <option value="ResidentAlienCard" label="Resident Alien Card">Resident Alien Card</option>
                                            <option value="StateID" label="State ID Card">State ID Card</option>
                                        </select><span></span><span>This field cannot be empty.</span>
                                    </div>
                                    <div ng-class="{'col-xs-12 col-sm-4': applicant.Identification.IdentificationType !== 'Passport' &amp;&amp; applicant.Identification.IdentificationType !== 'MilitaryID' &amp;&amp; applicant.Identification.IdentificationType !== 'ResidentAlienCard', 'col-xs-12 col-sm-6': applicant.Identification.IdentificationType === 'Passport' || applicant.Identification.IdentificationType === 'MilitaryID' || applicant.Identification.IdentificationType === 'ResidentAlienCard'}" class="form-group animatePush col-xs-12 col-sm-4">
                                        <label>ID number:</label>
                                        <input class="form-control ng-pristine ng-valid-pattern ng-invalid ng-invalid-required field-invalid-first" name="idNumber" type="text" placeholder="ID NUMBER" ng-model="applicant.Identification.Number" ng-pattern="/^[0-9A-Za-z.\s-]*$/" maxlength="15" required="required" data-label-msg="ID number"><span></span><span>This field cannot be empty.</span>
                                    </div>
                                    <div class="form-group animatePush col-xs-12 col-sm-4" ng-class="{'width-zero': applicant.Identification.IdentificationType === 'Passport' || applicant.Identification.IdentificationType === 'MilitaryID' || applicant.Identification.IdentificationType === 'ResidentAlienCard'}">
                                        <label class="nowrap">State issued:</label>
                                        <select class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="applicant.Identification.State" name="idState" ng-required="applicant.Identification.IdentificationType !== 'Passport' &amp;&amp; applicant.Identification.IdentificationType !== 'MilitaryID' &amp;&amp; applicant.Identification.IdentificationType !== 'ResidentAlienCard'" tabindex="0" required="required">
                                            <option value="" class=""> SELECT </option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select><span></span><span>This field cannot be empty.</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <div class="modal fade" id="scanModal" tabindex="-1" role="dialog" aria-labelledby="scanModal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Customer Information Scan</h4>
                                    </div>
                                    <div class="modal-body text-center">
                                        <input type="text" ng-model="dlString" autofocus style="opacity:0">
                                        <br />
                                        <div ng-if="msg.length < 1">
                                            Scan Your ID
                                            <br /> or
                                            <br /> Close to input your info manually
                                            <br />
                                        </div>
                                        <div ng-if="msg.length > 1">
                                            {{msg}}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="endModal" tabindex="-1" role="dialog" aria-labelledby="endModal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Thank You</h4>
                                    </div>
                                    <div class="modal-body">
                                        Test is complete. Thank you for your participation.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                        <div class="clearfix row step-buttons">
                            <div class="col-xs-6 pull-right">
                                <button type="button" class="btn btn-step btn-step-next btn-md pull-right" ng-click="moveNext()" ng-hide="steps.active==4">
                                    <span class="next">Next
                                    <svg version="1.1" id="btnNext" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                                        <path class="svg-btn-next" d="M0,14.2h25.5L14.7,24.9l1.4,1.4l13.2-13.2L16.1,0l-1.4,1.4l10.8,10.8H0L0,14.2z"/>
                                    </svg></span>
                                    <span class="loading"></span>
                                </button>
                            </div>
                            <div class="col-xs-6 pull-right">
                                <button type="button" class="btn btn-step btn-step-prev btn-md pull-left" ng-click="moveBack()">
                                    <span class="previous"><svg version="1.1" id="btnPrev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                                        <path class="svg-btn-prev" d="M29.3,12.2H3.8L14.6,1.4L13.2,0L0,13.2l13.2,13.2l1.4-1.4L3.8,14.2h25.5V12.2z"/>
                                    </svg>
                                    Previous</span>
                                </button>
                            </div>
                        </div>
                  
                </section>
            </form>
        </div>
        <footer>
            <div class="container">
                <div class="col-xs-8"><a class="body2" href="#/privacy">Privacy Policy</a><a class="body2" href="#/terms">Terms
                    of Use</a></div>
                <div class="col-xs-4 text-right">
                    <table class="pull-right" width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
                        <tr>
                            <td width="135" align="center" valign="top">
                                <script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=approve.me&amp;size=XS&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script>
                                <br/><a href="http://www.symantec.com/ssl-certificates" target="_blank" style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">ABOUT
                                SSL CERTIFICATES</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </footer>
    </div>
    <!-- jquery/angular -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- app javascript -->
    <script src="js/app.js"></script>
</body>

</html>
